.ant-btn-primary{
    border-color: #EEC373 !important;
    background: #EEC373 !important;
    margin-right: 1em;
    padding-bottom: 10px !important;
}

.anticon svg {
    margin-bottom: 5px;
}

.contactContent {
    color: white !important;
    font-size: larger;
    line-height: normal;
  }