.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header, .ant-layout-footer {
  background-color: #876445 !important;
  color: #CA965C !important;
}

.contactHeader{
  color: #CA965C !important;
}

a {
  color: #CA965C !important;
}

html {
  scroll-behavior: smooth;
}

.logo{
  border :2px;
  border-radius: 50%;
  background-color: #fff
}

h5.ant-typography, .ant-typography h5 {
  color:#CA965C !important
}
.ant-typography {
  color: #EEC373 !important;
}
#components-grid-demo-playground [class~='ant-col'] > div {
  height: 120px;
  font-size: 14px;
  line-height: 120px;
  background: #CA965C;
  border-radius: 4px;
}

.productImg{
  margin: auto
}
.productCard{
  width: 50%;
  margin: 0 auto;
}

/* .garden{
  padding-left: 3em;
} */